.container {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
}

.content .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content h3 {
  font-family: "Freight";
  font-weight: 400;
  font-size: 3rem;
  color: #4d4d4d;
  width: 759px;
  line-height: 145%;
  letter-spacing: 1%;
}

.content h3 span {
  font-style: italic;
  font-weight: 900;
  color: #0d0d0d;
}

.content .socialMedia {
  display: flex;
  gap: 24px;
}

.content .socialMedia img {
  width: 32px;
  color: #0d0d0d;
}
